@import './variables.scss';

@media (min-width: $sm) {
  .magistral-xxl {
    font-size: 36px;
    line-height: 45px;
  }
}
@media (min-width: $md) {
  .magistral-xxl {
    font-size: 46px;
    line-height: 55px;
  }
}
@media (min-width: $lg) {
  .magistral-xxl {
    font-size: 46px;
    line-height: 55px;
  }
}
@media (min-width: $xl) {
  .magistral-xxl {
    font-size: 66px;
    line-height: 75px;
  }
}
.magistral-xxl {
  font-family: Magistral;
  letter-spacing: 0.02%;
}

.magistral-xl {
  font-family: Magistral;
  font-size: 46px;
  line-height: 55px;
  letter-spacing: 0.02em;
}

.magistral-lg {
  font-family: Magistral;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.02em;
}

.magistral-md {
  font-family: Magistral;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.02em;
}

.magistral-sm {
  font-family: Magistral;
  font-size: 18px;
  line-height: 30px;
}

.inter-lg {
  font-family: Inter-Regular;
  font-size: 18px;
  line-height: 35px;
}

.inter-md {
  font-family: Inter-Regular;
  font-size: 16px;
  line-height: 20px;
}

.inter-sm {
  font-family: Inter-SemiBold;
  font-size: 14px;
  line-height: 18px;
}

.magistral-xxl,
.magistral-xl,
.magistral-lg,
.magistral-md,
.magistral-sm,
.inter-lg,
.inter-md,
.inter-sm {
  color: #f7f7f7;
}

a {
  padding: 0 0 10px;
  &:hover {
    text-decoration: none;
    color: inherit;
    border-bottom: 2px solid #00632b;
  }
}
